body{
    background-image: url('../images/about_images/Background.png');
    color: antiquewhite;
    text-align: center;
}
h1 {
    text-align: left;
    font-size: 80px;
    margin-left: 3vw;
    font-family: brush;
}

.about_container > p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    margin-left: 15vw;
    margin-right: 15vw;
}

.about_container > table {
    text-decoration: none;
}

img {
    border-radius: 50%;
    height: 12vw;
}
table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
td {
    padding: 1vw;
}

td > p{
    width: 20vw;
    text-align: justify;
    text-justify: inter-word;
}