body{
    background-image: url('../images/about_images/Background.png');
    color: antiquewhite;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 80px;
    margin-left: 3vw;
    font-family: brush;
}

.about_container > table {
    margin-top: -5vw;
    margin-left: 12vw;
    text-decoration: none;
}

.about_table_cell {
    width: 20vw;
    padding: 0.25vw;
    text-align: center;
} .about_table_cell > p{
    text-align: justify;
    text-justify: inter-word;
}
#info {
    width: 40vw;
    
} #info > p {
    margin-right: 2vw;
    font-size: 1.5vw;
}

.ref_sheet {
    height: 12vw;
}

#social_media_icons{
    margin-top: 0vw;
}

.judges_img {
    border-radius: 50%;
    height: 12vw;
    padding: 1vw;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#judges {
    margin-top: -5vw;
}

.judge_table_cell{
    padding: 1vw;
    width: 20vw;
}